<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <variable name="logDir" value="./log"/>
  <variable name="layout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}"/>
 
  <targets>
    <target name="logFile" xsi:type="File" fileName="${logDir}/${shortdate}.log" layout="${layout}"/>
    <target name="debugger" xsi:type="Debugger" layout="${layout}"/> 
  </targets>
  
  <rules>
    <logger name="*" writeTo="logFile" />   
    <logger name="*" writeTo="debugger" />
  </rules>
 
</nlog>